{% extends "users/base.html" %}
{% block content %}
    <b>Availible Doctors</b>
    <br>
 {% for doctor in doctors %}
    <article class="media content-section">
       <div class="media-body">
           <p class="article-content" > doctor name - {{ doctor.doctor_name }}</p>
           <p class="article-content">specialization - {{ doctor.specialization }}</p>
           <div class="form-group">
               {% if user.is_staff %}
          <a class="btn btn-outline-info" href = "#">Update doctor</a>
               {% endif %}
        </div>
       </div>
     </article>
   {% endfor %}
{% endblock content %}